 * {
    margin: 0;
    padding: 0;
}
body {
    background: #b8c0c1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 50%);
    gap: 25px;
    max-width: 900px;
    width: 100%;
    text-align: center;
}
.title {
    color: #2c3e50;
    margin-bottom: 40px;    
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.square {
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.square h2 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 24px;
}
.square p {
    color: #7f8c8d;
}
footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 425px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
@media (max-width: 380px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .square {
    background-color: rgb(129, 0, 119);
}
}
@media (max-width: 330px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .square {
    background-color: rgb(0, 0, 0);
}
}
